In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

%matplotlib inline

# some settings for graphics
sns.set_style("dark")
sns.set(rc={'figure.figsize':(12,4)})

# use this value where it is possible to indicate the random state
RANDOM_STATE = 42

In [49]:
import sys  
sys.path.insert(1, '..')

In [31]:
import common

In [53]:
%%capture
!wget https://github.com/eishkina-estia/ML2023/raw/main/data/New_York_City_Taxi_Trip_Duration.zip

In [54]:
path = 'New_York_City_Taxi_Trip_Duration.zip'
data = pd.read_csv(path, compression='zip')
os.remove(path)

In [55]:
from prepocess.data_preprocess import pickup_datetime
data = pickup_datetime(data)

In [56]:
from sklearn.model_selection import train_test_split

X = data.drop(columns=['trip_duration'])

y = data['trip_duration']
data_train, data_test = train_test_split(data, test_size=0.3, random_state=common.RANDOM_STATE)
display(data_train.shape, data_test.shape)

(1021050, 11)

(437594, 11)

In [57]:
data_train

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
1011257,id2209155,2,2016-05-03 09:03:08,2016-05-03 09:17:12,2,-73.979813,40.752529,-73.982681,40.763680,N,844
178550,id0586605,1,2016-01-01 16:40:51,2016-01-01 16:57:32,1,-73.977623,40.746296,-73.968414,40.788933,N,1001
551460,id0467144,1,2016-04-24 13:57:03,2016-04-24 14:14:31,1,-73.950699,40.779404,-73.863129,40.768608,N,1048
1434271,id0989010,2,2016-01-10 17:03:47,2016-01-10 17:16:51,1,-73.984558,40.721802,-73.976753,40.752213,N,784
1173610,id0580742,1,2016-02-25 17:37:36,2016-02-25 17:49:48,1,-73.967720,40.768742,-73.977173,40.789875,N,732
...,...,...,...,...,...,...,...,...,...,...,...
259178,id1753868,2,2016-03-25 07:11:49,2016-03-25 07:33:10,2,-73.955032,40.777328,-74.006203,40.749424,N,1281
1414414,id2204747,1,2016-02-16 18:01:45,2016-02-16 18:15:38,1,-73.973618,40.763920,-73.983849,40.749874,N,833
131932,id3043606,2,2016-01-26 19:22:29,2016-01-26 19:43:54,1,-74.006195,40.734283,-73.949608,40.785282,N,1285
671155,id1458584,1,2016-01-19 11:53:47,2016-01-19 12:00:16,1,-73.962341,40.767323,-73.969757,40.768669,N,389
121958,id0357025,2,2016-02-10 22:39:31,2016-02-10 23:05:41,1,-73.874649,40.774071,-74.004242,40.746899,N,1570

In [63]:
import sqlite3
import os

db_dir = os.path.dirname(common.DB_PATH)
if not os.path.exists(db_dir):
    os.makedirs(db_dir)

print(f"Saving train and test data to a database: {common.DB_PATH}")
with sqlite3.connect(common.DB_PATH) as con:
    # cur = con.cursor()
    # cur.execute("DROP TABLE IF EXISTS train")
    # cur.execute("DROP TABLE IF EXISTS test")
    data_train.to_sql(name='train', con=con, if_exists="replace")
    data_test.to_sql(name='test', con=con, if_exists="replace")

Saving train and test data to a database: /Users/souleymanedabone/Desktop/Estia/CI_CD/mlops/trafic_parterm/db/trafic_db.db

In [60]:
print(f"Reading train data from the database: {common.DB_PATH}")
with sqlite3.connect(common.DB_PATH) as con:
    cur = con.cursor()
    res = cur.execute("SELECT * FROM train LIMIT 3")
    display(res.fetchall())

Reading train data from the database: /Users/souleymanedabone/Desktop/Estia/CI_CD/mlops/trafic_parterm/db/trafic_db.db

[(1011257,
  'id2209155',
  2,
  '2016-05-03 09:03:08',
  '2016-05-03 09:17:12',
  2,
  -73.9798126220703,
  40.75252914428711,
  -73.98268127441406,
  40.76367950439453,
  'N',
  844),
 (178550,
  'id0586605',
  1,
  '2016-01-01 16:40:51',
  '2016-01-01 16:57:32',
  1,
  -73.97762298583984,
  40.74629592895508,
  -73.96841430664062,
  40.78893280029297,
  'N',
  1001),
 (551460,
  'id0467144',
  1,
  '2016-04-24 13:57:03',
  '2016-04-24 14:14:31',
  1,
  -73.95069885253906,
  40.77940368652344,
  -73.86312866210938,
  40.76860809326172,
  'N',
  1048)]