In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

%matplotlib inline

# some settings for graphics
sns.set_style("dark")
sns.set(rc={'figure.figsize':(12,4)})

# use this value where it is possible to indicate the random state
RANDOM_STATE = 42

In [39]:
import sys  
sys.path.insert(1, '..')

In [31]:
import common

In [32]:
%%capture
!wget https://github.com/eishkina-estia/ML2023/raw/main/data/New_York_City_Taxi_Trip_Duration.zip

In [37]:
path = 'New_York_City_Taxi_Trip_Duration.zip'
data = pd.read_csv(path, compression='zip')
os.remove(path)

In [45]:
from prepocess.data_preprocess import pickup_datetime
data = pickup_datetime(data)

In [46]:
from sklearn.model_selection import train_test_split

X = data.drop(columns=['trip_duration'])

y = data['trip_duration']
data_train, data_test = train_test_split(data, test_size=0.2, random_state=common.RANDOM_STATE)
display(data_train.shape, data_test.shape)

(1166915, 11)

(291729, 11)

In [47]:
import sqlite3
import os

db_dir = os.path.dirname(common.DB_PATH)
if not os.path.exists(db_dir):
    os.makedirs(db_dir)

print(f"Saving train and test data to a database: {common.DB_PATH}")
with sqlite3.connect(common.DB_PATH) as con:
    # cur = con.cursor()
    # cur.execute("DROP TABLE IF EXISTS train")
    # cur.execute("DROP TABLE IF EXISTS test")
    data_train.to_sql(name='train', con=con, if_exists="replace")
    data_test.to_sql(name='test', con=con, if_exists="replace")

Saving train and test data to a database: /Users/souleymanedabone/Desktop/Estia/CI_CD/mlops/trafic_parterm/db/trafic_db.db

In [48]:
print(f"Reading train data from the database: {common.DB_PATH}")
with sqlite3.connect(common.DB_PATH) as con:
    cur = con.cursor()
    res = cur.execute("SELECT * FROM train LIMIT 3")
    display(res.fetchall())

Reading train data from the database: /Users/souleymanedabone/Desktop/Estia/CI_CD/mlops/trafic_parterm/db/trafic_db.db

[(1053743,
  'id0458976',
  2,
  '2016-06-29 18:21:02',
  '2016-06-29 18:39:55',
  1,
  -73.86276245117188,
  40.768821716308594,
  -73.89170074462889,
  40.74668884277344,
  'N',
  1133),
 (273748,
  'id0434613',
  2,
  '2016-04-25 13:03:26',
  '2016-04-25 13:18:13',
  1,
  -73.95803833007811,
  40.78323745727539,
  -73.97550964355469,
  40.7608528137207,
  'N',
  887),
 (433988,
  'id3809234',
  2,
  '2016-05-07 12:36:09',
  '2016-05-07 12:47:35',
  1,
  -73.96945953369139,
  40.78551864624024,
  -73.98924255371094,
  40.77174758911133,
  'N',
  686)]